---
# tasks file for base_config

# Tasks from configure_hostnames.yml
- name: Set Hostname | Cisco IOS
  when: ansible_network_os == 'cisco.ios.ios'
  cisco.ios.ios_hostname:
    config:
      hostname: "{{ inventory_hostname }}"

- name: Set Hostname | Arista EOS
  when: ansible_network_os == 'arista.eos.eos'
  arista.eos.eos_hostname:
    config:
      hostname: "{{ inventory_hostname }}"

- name: Set Hostname | Juniper Junos
  when: ansible_network_os == 'junipernetworks.junos.junos'
  junipernetworks.junos.junos_hostname:
    config:
      hostname: "{{ inventory_hostname }}"

# Tasks from configure_system.yml
- name: Set System Settings | Cisco IOS
  when: ansible_network_os == 'cisco.ios.ios'
  cisco.ios.ios_config:
    lines:
      - ip domain name {{ domain_name }}
      - ip name-server {{ dns_server }}
      - ntp server {{ ntp_server }}

- name: Set System Settings | Arista EOS
  when: ansible_network_os == 'arista.eos.eos'
  arista.eos.eos_config:
    lines:
      - ip domain-name {{ domain_name }}
      - ip name-server {{ dns_server }}
      - ntp server {{ ntp_server }}

- name: Set System Settings | Juniper Junos
  when: ansible_network_os == 'junipernetworks.junos.junos'
  junipernetworks.junos.junos_config:
    lines:
      - set system domain-name {{ domain_name }}
      - set system name-server {{ dns_server }}
      - set system ntp server {{ ntp_server }}
